# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
/node_modules/
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Logs
logs
*.log

# Misc
.DS_Store
desktop.ini
Thumbs.db
.fleet/
.idea/
nbproject/

# Local env files
.env*
!.env.example

# Coverage directory used by tools like istanbul
/coverage*

# NOTE: 環境で切り替える為
/public/robots.txt
